#wpdm-audio-player{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999999;
}
#wpdm-audio-player .wpdm-audio-control-buttons{

}

#wpdm-audio-player .wpdm-audio-control-buttons .btn{
  border-radius: 2px;
}

#wpdm-audio-player .progress{
  min-width: 250px;
  height: 38px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background: rgba(0,0,0,0.06)
}
#wpdm-audio-player .progress-bar{
  opacity: 0.8;
}
#wpdm-audio-player #mins{
  line-height: 36px;
  right: 15px;
  position: absolute;
  font-size: 10px;
}
#wpdm-audio-player #played{
  line-height: 36px;
  left: 15px;
  position: absolute;
  font-size: 10px;
}
#wpdm-audio-player .volumctrl{
  position: absolute;
  right: 0;
  width: 100px;
  top: -40px;
  padding:7px 10px 0;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  background: #fcfcfc;
  display:none;
}
#wpdm-audio-player .volumctrl input{
  max-width:100%;
  margin: 0;
}
